extends layout
block content

  section
    include navbar.pug
  section
    img.boat-pic(src='../images/boat.png')
  section.etiquette
    h1 Etiquette
    p I only take what is freely given and I love reciprocity in all my relationships. Consent culture and respect is of utmost importance during our time together. I truly look forward to indulging one another in mutually beneficial pleasures.
    br
    p When we first meet I will be so excited and enticed at the prospect of our rendezvous but first there are required formalities. Promptly present me with your identifications, references and tribute when we meet and then we can go right into erotic entertainment.
    br
    h2
      strong Screening is a requirement for our safety and comfort, please provide some form of reference such as the following examples:
    br
    p Name, website and contact information of two providers and a description of how they would remember you.
    br
    p RS2K (wwww.roomservice2000.com), P411 (www.preferred411) with 2+ Recent Oks, Date-Check (www.date-check.com) with 1+ recent Recommendations, TER Whitelist (www.theeroticreview.com) with 6+ WL in last 6 months
    br
    p Drivers License and two active and public social media profiles to confirm your identity
