extends layout
block content

  section
    include navbar.pug

  section.module.parallax.parallax-5
    .container
      h1 Section 1

  section.module.parallax.parallax-6
    .container
      h1 Section 2

  section.module.parallax.parallax-5
    .container
      h1 Section 3
