extends layout
block content

  section
    include navbar.pug
  section
    h1 Meet Maya

    p Age 26
      br
    p Nationality U.S.
      br
    p Ethnicity Latinx
      br
    p Height 5’4”
      br
    p Weight 135
      br
    p Dress size 7
      br
    p Cup size 38 B
      br
    p Waist 28″
      br
    p Hip 34″
      br
    p Smokes No
      br
    p Drinks Sparingly
      br
    p Tattoos 5 and a secret tattoo
