extends layout

block content

  section
    include navbar.pug

  section
    h1 Sessions

  section
    h2 TRIBUTES

    p Satisfaction (1 Hour) $500
    br
    p Requiescence (3 Hours) $1000
    br
    p Indulgence (Overnight) $2500
    br
    p Travel Companionship (1-2 days) Inquire