doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/splash.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Satisfy" rel="stylesheet")
  body
    .wrapper
      h1 - Maya Monroe -
    .wrapper-text
      p This site is intended for a mature audience and is for entertainment purposes only. You must be 18 year of age to visit this site. All material is copyright and reproduction is strictly prohibited unless written permission has been obtained.
      a(class='enter-button' href='/maya') Enter
