section.etiquette {
  padding: 20px;
  background: linear-gradient(to bottom, #ffb6c1, #fff);
  color: black;
  margin: 15px;
}

h1 {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
  .5px .5px 0 #000,
  -.5px -.5px 0 #000,
  .5px -.5px 0 #000,
  -.5px .5px 0 #000,
  .5px .5px 0 #000;
  padding: 0px;
  margin-top: 10px;
}

img.boat-pic {
  z-index: 100;
  width: 70%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 20px;
}
